* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.history-bg-container{
  background-color: #f8fafc;
  height:100vh;
}
.top-search-section{
    background-color: #3367d6;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.history-logo{
  width:10%
}
.search-icon-container{
  display: flex;
  justify-content: center;
  width:90%;
}
.search-icon{
    border: #ececec 1px solid;
    width:40px;
    height:40px;
    background-color: #2850a7;
    border-top-left-radius:5px;
    border-bottom-left-radius: 5px;

}
.search-input{
    width:400px;
    background-color:#2850a7 ;
    border: #ececec 1px solid;
    border-top-right-radius:5px;
    border-bottom-right-radius: 5px;
    padding-left:5px;
    color: #ffffff;
    font-weight:bold;
}
.history-card-section{
    padding:30px;
}
.browser-history-card{
   box-shadow: 0px 4px 16px 0px #bfbfbf;
   padding:10px;
   border-radius:5px;
}
.no-content-show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height:80%;
}
.no-content-massage{
     color:#64748b;
     font-size:30px;
     font-family:'roboto';
}